[user]
	name = Felix Boers
	email = felix.boers@cbc-extern.de
[core]
	editor = \"C:/Program Files (x86)/Vim/vim80/vim.exe\"
[merge]
	tool = kdiff3
[diff]
	guitool = kdiff3
[http]
	proxy = http://meta-proxy.netrtl.com:8080
	sslVerify = false
[svn]
	rmdir = true
	pushmergeinfo = true
