[user]
	name = Felix Boers
	email = felix.boers@hotmail.com
[core]
	editor = vim
[merge]
	tool = kdiff3
[diff]
	guitool = kdiff3
[http]
	sslVerify = false
[mergetool]
    keeptemporaries = false
    keepbackups = false
    prompt = false
    trustexitcode = false
[svn]
	rmdir = true
	pushmergeinfo = true
[push]
	default = matching
